linkedin opponenet scrapping
{
  "name": "Scrape LinkedIn Competitors Posts",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        150
      ],
      "id": "1908b719-2b65-4e95-a544-48fe4af55c57",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VefVC_KK4d3lAPdSvFCt4p4mB1U0f5mrVN3cjrT6GVk",
          "mode": "list",
          "cachedResultName": "Linkedin creators I like as well as are my competitors lol",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VefVC_KK4d3lAPdSvFCt4p4mB1U0f5mrVN3cjrT6GVk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VefVC_KK4d3lAPdSvFCt4p4mB1U0f5mrVN3cjrT6GVk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        80,
        150
      ],
      "id": "4ce3150c-09c4-4aa4-bde6-f9d2eca54876",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BABF9fd2GiPmlycd",
          "name": "Google Sheets Cred"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/r4oNX7IHlW4RQAjKP/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer apify_api_DNmFG22AogqleZPfv7M0aonm58cefl0PlvtM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"usernames\": [\n        \"{{ $json['Linkedin url'] }}\"\n    ]\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        340
      ],
      "id": "4e6a3579-7502-45b8-bb88-26e39ec763bf",
      "name": "Profile Scraping"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "96a00fd4-c855-4b10-88ea-ee8d939ec849",
              "leftValue": "={{ $json.stats.reposts }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        760,
        340
      ],
      "id": "6150d904-fc2e-46c8-ae4a-7ffb0bb38f55",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VefVC_KK4d3lAPdSvFCt4p4mB1U0f5mrVN3cjrT6GVk",
          "mode": "list",
          "cachedResultName": "Linkedin creators I like as well as are my competitors lol",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VefVC_KK4d3lAPdSvFCt4p4mB1U0f5mrVN3cjrT6GVk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1299977860,
          "mode": "list",
          "cachedResultName": "Linkedin Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VefVC_KK4d3lAPdSvFCt4p4mB1U0f5mrVN3cjrT6GVk/edit#gid=1299977860"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Creator Name": "={{ $json.author.first_name }} {{ $json.author.last_name }}",
            "Linkedin Post URL": "={{ $json.url }}",
            "Caption/Text/Copy": "={{ $json.text }}",
            "Likes": "={{ $json.stats.total_reactions }}",
            "Comments": "={{ $json.stats.comments }}",
            "Reposts": "={{ $json.stats.reposts }}",
            "Date and Time Published": "={{ $json.posted_at.date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Linkedin Post URL",
              "displayName": "Linkedin Post URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Creator Name",
              "displayName": "Creator Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption/Text/Copy",
              "displayName": "Caption/Text/Copy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reposts",
              "displayName": "Reposts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date and Time Published",
              "displayName": "Date and Time Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        960,
        340
      ],
      "id": "c5cbc8fd-95fe-4aa5-9c5b-9c0e1f97b167",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BABF9fd2GiPmlycd",
          "name": "Google Sheets Cred"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        300,
        150
      ],
      "id": "c4de07ab-7e8e-4402-9689-3e1014070c51",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -140,
        -40
      ],
      "id": "741788fa-6b79-4711-9b8b-0f6584546c95",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Scraping": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Profile Scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45369fca-80bd-463e-94d8-21f6f892cb3e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eae46237f0b03e1e21495b9d127d17ad71e5e7504c7d7b1084f9a3d34657c561"
  },
  "id": "h5xubVWo8vKPJXNt",
  "tags": []
}
